@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 252deg 59% 59%;
		--theme-text: 0deg 0% 5%;
		--theme-accent: 252deg 59% 59%;
		--theme-accent-2: 0deg 0% 10%;
		--theme-quote: 247deg 50% 59%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 240deg 7% 8%;
		--theme-link: 247deg 58% 52%;
		--theme-text: 240deg 6% 85%;
		--theme-accent: 247deg 58% 52%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 248deg 44% 59%;
	}
}
