---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "this page does not exist",
	title: "not found",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">page not found</h1>
	<p class="mb-8">please use the navigation to find your way back</p>
</PageLayout>
